<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <img th:src="@{/images/bread03.png}" alt="รูปโปรไฟล์" width="200" /><br><br>
    <img th:src="'https://cdn.pixabay.com/photo/2023/09/04/23/58/woman-8233937_640.jpg'" alt="รูปโปรไฟล์" width="200" />
    <img th:src="@{https://cdn.pixabay.com/photo/2023/09/04/23/58/woman-8233937_640.jpg}" alt="รูปโปรไฟล์" width="200" />
    <h1>Person Infomation</h1>
    <hr>
    <form th:action="@{/showperson}" th:object="${person}" method="post">

        <label>ชื่อ:
            <input type="text" th:field="*{firstName}" />
        </label><br><br>

        <label>นามสกุล:
            <input type="text" th:field="*{lastName}" />
        </label><br><br>

        <label>ปีเกิด:
            <input type="number" th:field="*{birthYear}" />
        </label><br><br>

        <button type="submit">ส่งข้อมูล</button>
    </form>
</body>
</html>